* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1{
    border: 1px solid steelblue;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

#main {
    display: flex;
    margin-top:20px;
}
#main #menu {
    display: flex;
    width: 100px;
    height: auto;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
}
#main .noidung {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    
}
#main .noidung .nd {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
