* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: red;
}
.sub-title {
    color: green;
}
#demo {
    color: blue !important;
    font-size: 40px;
    font-weight: bold;
}
.recycle-style {
    font-size: 50px;
}






/* !important > inline-style > inside (style) > outside */

/* keyword: 
* text:
   - font:
      + font-size: cỡ chữ
      + font-weight: độ đậm
      + font-family: họ font nào VD: font Arian, font Time new roman...
   - aline:
      + text-aline: căn chữ được ra đâu của đoạn văn bản
      + line-height: căn chữ
      + ...

* background:
   - background-color: đổi màu background
   - background-image: đặt hình nền cho một khối nào đấy
   - background-size: thay đổi kích thước background
   - background-position: 

* color:
   - simple (red, blue, green, ...)
   - rgb (0-255, 0-255, 0-255)
   - rgba (Red - Green - Blue - Alpha)
   - hex (#ffffff: màu trắng)
* ul, li

* display:
   - block:
   - inline:
   - inline-block:
   - ...

* pseudo class: VD: thẻ a
   - active: khi click vào thẻ đó rồi
   - visited: khi mình click, mình back lại thì thẻ đó đã được ấn vào 1 lần rồi
   - hover: ứng dụng vào thẻ div, span ...
   - focus: khi click vào 1 cái input nào đấy
   - ...
* transform, transition
 */


 